#consignee{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background: #EEEEEE;
}
#sign{
    width: 100%;
    padding: 0 .1rem;
}
#sign li{
    height:.36rem;
    margin: .15rem 0;
}
#sign li input{
    width: 100%;
    height: .36rem;
    border: 0;
    padding-left: .15rem;
}
#sign li:nth-child(3){
    display: flex;
    justify-content: space-between;
}
#sign li select{
    width: 45%;
    border:0;
    color: #ccc;
    padding-left: .15rem;
}
#sign li:nth-child(4) select{
    width: 100%;
    height: .36rem;
}